DATABASE_URL="postgresql://postgres:password@db.xxxxx.pooler.supabase.co:6543/postgres?pgbouncer=true&schema=public"
DIRECT_URL="postgresql://postgres:password@db.xxxxx.supabase.co:5432/postgres"

NEXT_PUBLIC_SUPABASE_URL="https://xxxxx.supabase.co"
SUPABASE_SERVICE_ROLE_KEY="your-service-role-key"

ION_CLIENT_ID=your_client_id_here
ION_CLIENT_SECRET=your_client_secret_here
ION_REDIRECT_URI=http://localhost:3000/api/auth/callback
e